.l-row.Section__item
  - var panels = [];
  - panels[0] = {title: 'Drink Menu', text: '定番メニューから、季節に合わせた商品まで品揃え豊富に取り揃えております。あなたのお気に入りを見つけましょう。'};
  - panels[1] = {title: 'Food Menu', text: 'サンドイッチ、ケーキ、パスタ、当店自慢のコーヒーと一緒にどうぞ。'};
  each panel, i in panels
    .l-harlTile(class=i === 0 ? 'IndexPage__drinkMenu' : 'IndexPage__foodMenu')
      a.OverlayPanel(href="#")
        h3.OverlayPanel__head= panel.title
        p.OverlayPanel__body= panel.text
