.l {
  &-column {
    flex: 0 1 $base-content-width;
    max-width: $base-content-width;
    margin: 0 auto;
    padding: 0 $space-unit;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &-halfColumn {
    flex: 1 0 0;
    max-width: ($base-content-width - $column-space) / 2;
    margin-right: $column-space;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  &-quaterColumn {
    flex: 1 0 0;
    max-width: ($base-content-width - $column-space * 3) / 4;
    &:not(:last-child) {
      margin-right: $column-space;
    }
  }
  &-harlTile {
    display: flex;
    flex: 1 1 50%;
    margin: 0;
    padding: 0;
  }
}
